body {
  margin:0;
  font-family: Arial;
  background:#FFFBEB;
}

.layout {
  display:flex;
}

/* Sidebar */
.sidebar {
  width:220px;
  background:#f8fafc;
  height:100vh;
  padding:20px;
  border-right:1px solid #ddd;
}

.sidebar h2 {
  margin-bottom:20px;
}

.sidebar li {
  list-style:none;
  padding:10px;
  cursor:pointer;
  border-radius:8px;
}

.sidebar li:hover {
  background:#e2e8f0;
}

/* Main */
.main {
  flex:1;
}

/* Header */
.header {
  background:#14B8A6;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

/* Page */
.page {
  padding:20px;
}

.hidden {
  display:none;
}

/* 卡片 */
.cards {
  display:flex;
  gap:15px;
  margin:20px 0;
}

.card {
  background:white;
  padding:20px;
  border-radius:12px;
  width:120px;
  text-align:center;
  box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

/* box */
.box {
  background:white;
  padding:20px;
  border-radius:12px;
}

/* input */
input {
  padding:10px;
  margin:5px;
}

button {
  background:#F97316;
  color:white;
  border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}
